{% extends "layout.html" %}
{% block content %}
    <div class="container">
            <div class="row">
                <div class="text-center col-md-6 offset-md-3">            
                    <h3 class="text-muted"><img src="/static/images/hackdartmouth.png" style="height: 250px;">HackDartmouth App</h3>
                </div>
            </div>
        </div>
 <div class="row">
     <div class="col-sm-6 text-center offset-sm-3">
         <div class="jumbotron">
            <h1>Predict Rating From Comment</h1>
            <form class="form-signin" id="form">
                <label for="inputComment" class="sr-only">Comment</label>
                <!--<input type="textArea" name="inputComment" id="comment" class="form-control" placeholder="Comment" required autofocus>-->

                <textarea name="inputComment" form="form"></textarea>

                 
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Enter Comment</button>
              </form>
      </div>
     </div>
 </div>
        
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <footer class="footer">
            <p>Work done by Danny, Michael, Kyle, Ewen</p>
        </footer>
        </div>
    </div>
        
 
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/post.js"></script>
{% endblock %}