<html>
<head>
    <title>Rating Predictions</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
  <div class="container">
            <div class="row">
                <div class="text-center col-md-6 offset-md-3">           
                    <a href="/"> 
                    <h3 class="text-muted"><img src="/static/images/hackdartmouth.png" style="height: 250px;">Yelp Machine Learning</h3>
                    </a>
                </div>
            </div>
        </div>
{% block content %}
{% endblock %}
    
</body>
 
</html>