{% extends "layout.html" %}
{% block content %}
   
 <div class="row">
     <div class="col-sm-6 text-center offset-sm-3">
         <div class="jumbotron">
            <h1>Generate this comment's rating</h1>
            <form class="form-signin" id="form" method="POST" action="/signUp">
                <label for="inputComment" class="sr-only">Comment</label>
                <!--<input type="textArea" name="inputComment" id="comment" class="form-control" placeholder="Comment" required autofocus>-->

                <textarea name="inputComment" form="form" style="width: 100%; overflow-y: scroll;" rows="5"></textarea>

                 
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Enter Comment</button>
              </form>
      </div>
     </div>
 </div>
 <center>
 Check out our <a href="/layup">generated ratings</a> of Dartmouth professors.
      
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <footer class="footer">
            <p>Work done by Danny, Michael, Kyle, Ewen</p>
            <p><a href="https://github.com/ewenw/YelpMyProfessors/">Source code</a></p>
        </footer>
        </div>
    </div>
   </center>       
 
    </div>

{% endblock %}
